In [1]:
import pandas as pd
import numpy as np

In [61]:
# Loading the data
data = pd.read_excel("../data/Sorted_Workbook.xlsx",sheet_name="Sheet1")

In [62]:
data.columns = [c.strip().replace(" ","_") for c in data.columns.values.tolist()]

In [63]:
data.columns

Index(['Year', 'Month', 'Country_of_origin', 'Imports_hardcoal_tonnes',
       'Imports_hardcoal_gigajoules', 'Average_calorificvalue_hardcoal',
       'Imports_hardcoal_euros', 'Imports_hardcoal_eurospert',
       'Imports_of_hard_coal_in_euros/tce'],
      dtype='object')

In [64]:
data.head()

,Year,Month,Country_of_origin,Imports_hardcoal_tonnes,Imports_hardcoal_gigajoules,Average_calorificvalue_hardcoal,Imports_hardcoal_euros,Imports_hardcoal_eurospert,Imports_of_hard_coal_in_euros/tce
0,2004,January,EU countries,3280,61556,18767,116541,35.53,55.49
1,2004,January,Third countries,3586305,95536615,26639,150263584,41.9,46.1
2,2004,January,United Kingdom,-,-,-,-,-,-
3,2004,January,Russian Federation,301727,7822842,25927,12736439,42.21,47.72
4,2004,January,South Africa,1059709,26718972,25213,37711705,35.59,41.37

In [65]:
data.columns

Index(['Year', 'Month', 'Country_of_origin', 'Imports_hardcoal_tonnes',
       'Imports_hardcoal_gigajoules', 'Average_calorificvalue_hardcoal',
       'Imports_hardcoal_euros', 'Imports_hardcoal_eurospert',
       'Imports_of_hard_coal_in_euros/tce'],
      dtype='object')

##### -	== no figures or magnitude zero
##### . == numerical value unknown or not to be disclosed

In [66]:
data = data.replace({"-":0,".":np.nan})

In [67]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2280 entries, 0 to 2279
Data columns (total 9 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Year                               2280 non-null   int64
 1   Month                              2280 non-null   object
 2   Country_of_origin                  2280 non-null   object
 3   Imports_hardcoal_tonnes            1950 non-null   float64
 4   Imports_hardcoal_gigajoules        1950 non-null   float64
 5   Average_calorificvalue_hardcoal    1950 non-null   float64
 6   Imports_hardcoal_euros             1950 non-null   float64
 7   Imports_hardcoal_eurospert         1950 non-null   float64
 8   Imports_of_hard_coal_in_euros/tce  1950 non-null   float64
dtypes: float64(6), int64(1), object(2)
memory usage: 160.4+ KB

In [68]:
data.to_csv("../data/CleanedData.csv")